ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: block;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: space-evenly;
}

.profile-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.insta-logo {
    width: 25px;
    height: 25px;
}