
.head-wrapper {
    width: 100%;

}

.insta-logo {
    width: 150px;
    height: 150px;
    top: 50px;
    left: 350px;
}

.info {
    left: 590px;
    top: 5px;
}

.username {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-weight: bold;
}

.checkmark {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    padding-top: 28px;
    padding-left: 8px;
}

#button {
    align-content: center;
  }

  .status-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}
