ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: block;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: space-evenly;
}

.profile-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.logo {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 200px;
}

.info {
    position: relative;
    left: 590px;
    top: 5px;
}