.square {
  background-color: rgb(0, 0, 0);
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  border: 2px solid goldenrod;
}

section {
  display: flex;
  flex-direction: row;
} 

@media (max-width: 600px) {
  section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  .first {
    flex-wrap: wrap;
  }
}