.square {
  background-color: green;
  font-size: 4em;
  color: red;
  width: 80px;
  height: 80px;
  border: 2px solid orange;
}

section {
  display: flex;
  flex-direction: row;
} 

@media (max-width: 600px) {
  section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  section {
    display: none;
  }
}