.square {
  background-color: rgb(0, 0, 0);
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  border: 2px solid goldenrod;
}

body {
  margin: 0;
  padding: 1rem;
}

@media (max-width: 600px) {
  .container {
    display: grid;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .column {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  /* #first, #second {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  } */
}