:root {
    --primary-color: #336666;
    --background-color: #e7e7ef;
    --text-color: #657387;
    --highlight-color: #92ccce;
    --secondary-background: #1b1b1b; /* Darker color for the header */
    --font-family: 'Roboto', sans-serif;
    --font-display: 'Playfair Display', serif;
}

body {
    font-family: var(--font-family);
}

nav {
    background-color: var(--secondary-background); /* Darker nav background */
    color: white;
}

h1, h2, h3 {
    font-family: var(--font-display);
    font-weight: 900; /* Use heavier font-weight */
    color: var(--primary-color);
}

p {
    color: var(--text-color);
}

.hero {
    background-image: url('../assets/images/Berkeley-San_Francisco-Oakland--Sunset-Panorama.jpg'); /* Background Image */
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

.hero .content-box {
    position: absolute;
    right: 10%; /* Align subtitle box to the right */
    top: 50%;
    transform: translateY(-50%);
    background-color: #74d1c6; /* Subtitle background */
    padding: 10px 20px;
    font-size: 2rem;
}

.content-sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
}

.work-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for gallery */
    gap: 20px;
    margin-top: 40px;
}

.work-item {
    background-color: var(--highlight-color); /* Placeholder colors */
    padding: 20px;
    text-align: center;
    position: relative;
}

.work-item img {
    width: 100%;
    height: auto;
}

.work-item-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
}
