/* Import fonts and declare variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --main-color: #92ccce;
    --font-color: #336666;
    --secondary-color: #31343d;
}

/* Styles */

* {
    padding: 0px;
    margin: 0px;
}


/* Header and Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 100px;
    background-color: var(--secondary-color);   
}

.flag {
    background-color: var(--main-color);
    height: 40px;
    width: 225px;
}

.flag-text {
    position: relative;
    padding-left: 40px;
}

header nav a {
    height: 30px;
    color: var(--main-color);
    text-decoration: none;
    padding: 0 10px;
    padding-bottom: 6px;
    margin: 0 10px;
    border-bottom: 3px solid;
    font-size: 1.2em;
}

nav a:hover {
    color: aliceblue;
    border-bottom: 4px solid;
}

/* About me section */

.about-me {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: var(--font-color);
    gap: 20px;
    padding: 20px;
}

.about-me h1 {
    border-right: 4px solid var(--font-color);
    padding-right: 10px;
    text-align: right;
}

/* Work section */

.work-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: var(--font-color);
}

.work-section h1 {
    border-right: 4px solid var(--font-color);
    padding-right: 10px;
    text-align: right;
}

.flex-container {
    max-width: 1000px;
    max-height: 100%;
    justify-content: space-around;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}

.hero-img {
    width: 530px;
    height: 300px;
    border: 5px solid var(--main-color);
}

.flex-item1 {
    width: 100%;
}

.flex-item2 {
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
    border: 5px solid var(--main-color);
}

.flex-item3 {
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
    border: 5px solid var(--main-color);
}

.flex-item4 {
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
    border: 5px solid var(--main-color);
}

.flex-item5 {
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
    border: 5px solid var(--main-color);
}

/* contact */

.contact {
    padding: 20px;
}

.contact h1 {
    text-align: center;
}

.contact-nav {
    display: flex;
    justify-content: space-between;
}

.list-class {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.list-item a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    padding: 10px 15px;
}

.list-item a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .list-class {
        flex-direction: column;
        align-items: center;
    }
    
    .list-item a {
        display: block;
        width: 100%;
        text-align: center;
    }
}