.tweet-wrapper {
    width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 1fr
}

.back-arrow {
    width: 50px;
    height: 50px;
    display: grid;
}

.twitter-check {
    display: grid;
    height: 40px;
    width: 40px;
}
