.tweet-wrapper {
    width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px auto auto 1fr;
}

header {
    position: relative;
}

.start-tweet {
    grid-row: 1;
}

.banner-img {
    height: 150px;
    background-color: #1da1f2;
    background-image: url('../assets/header.png');
    background-size: cover;
    background-position: center;
}

.twitter-check {
    display: grid;
    height: 40px;
    width: 40px;
}
